@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");

:root {
  --red: #ee3623;
}

* {
  font-family: "Crimson Text", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.nav-toggle {
  transform: translateX(-30rem);
}

header .menu {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 3.5rem;
  color: var(--red);
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 0.3rem 1.4rem;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
}

header .navbar {
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  right: 0;
  background: #111;
  display: none;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  list-style: none;
}

header .navbar ul li {
  margin: 1.4rem;
}

header .navbar ul li a {
  font-size: 3rem;
  color: #fff;
}

header .navbar ul li a:hover {
  color: var(--red);
}

.fa-times {
  transform: rotate(180deg) skew(-180deg);
}

.home {
  position: relative;
  min-height: 100vh;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
