@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");

:root {
  --red: #ee3623;
}

* {
  font-family: "Crimson Text", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.nav-toggle {
  transform: translateX(-30rem);
}

.btn {
  height: 3.5rem;
  width: 15rem;
  color: #fff;
  background-color: var(--red);
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 1rem 0;
  opacity: 0.7;
  box-shadow: none;
}
.btn:hover {
  opacity: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding: 0.5rem 1rem;
  padding-top: 3.5rem;
  font-size: 3.5rem;
  color: var(--red);
  text-transform: uppercase;
}

.title {
  text-align: center;
  padding: 0rem 1rem;
  font-size: 3rem;
  color: #666;
}

header .menu {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 3.5rem;
  color: var(--red);
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 0.3rem 1.4rem;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
}

header .navbar {
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  right: 0;
  background: #111;
  display: none;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  list-style: none;
}

header .navbar ul li {
  margin: 1.4rem;
  animation: fadeIn 0.2s linear backwards;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes fadeIn {
  0% {
    transform: translateY(-8rem);
    opacity: 0;
  }
}

header .navbar ul li a {
  font-size: 3rem;
  color: #fff;
}

header .navbar ul li a:hover {
  color: var(--red);
}

.fa-times {
  transform: rotate(180deg) skew(-180deg);
}

.home {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content {
  min-height: 100vh;
  width: 45rem;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 2rem 3rem;
  color: #fff;
}

.home .content h1 {
  font-size: 4rem;
  padding-top: 4vh;
  text-transform: uppercase;
}

.home .content h3 {
  font-size: 3rem;
  color: #eee;
  font-weight: lighter;
}

.home .content .from-container form {
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
}

.home .content .from-container form h3 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 1rem;
  color: rgb(0, 0, 0);
  font-weight: 400px;
  text-transform: uppercase;
}

.home .content .from-container form span {
  font-size: 2rem;
  display: block;
  padding: 1.4rem 0;
  color: var(--red);
  text-align: left;
}

.home .content .from-container form input {
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  background: #eee;
}

.home .content .from-container form .btn {
  width: 15rem;
  background-color: var(--red);
  margin: 1.5rem 0;
  font-size: 2rem;
}

.feature {
  background: #2c3a47;
  color: #fff;
  height: 73rem;
}
.feature .title {
  color: #eee;
}
.feature .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.feature .card-container .card {
  height: 50rem;
  width: 30rem;
  margin: 2rem 5rem;
  position: relative;
  overflow: hidden;
}
.feature .card-container .card .info {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  background: linear-gradient(transparent, #000);
  padding: 0 2rem;
  padding-top: 85%;
}

.feature .card-container .card:hover .info {
  bottom: 0;
}
.feature .card-container .card .info h3 {
  font-size: 3rem;
}
.feature .card-container .card .info .stars i {
  font-size: 1.5rem;
  color: var(--red);
  padding: 1rem 0;
}

.feature .card-container .card .info p {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .home .content {
    width: 100%;
  }
}
